.top{
    margin: auto;
    width: 50%;
    padding: 10px;}

.container{
    display: flex;
}

/* .top{
    display: flex;
} */


.skills {
    display: flex;
    background-color: #222;
}

.skill-image {
    flex: 16.66%;
    padding: 5px;
    width: 60px;
    height: 60px;
    margin: auto;
}

.languages {
    left: 100px;
    margin-left: 15%;
    background-color: #222;
}
.languages:hover{
    background-color: #111;
}

.technologies{
    /* margin-left: 1%; */
    position: relative;
    background-color: #222;
}
.technologies:hover{
    background-color: #111;
}

.github-card{
    display: flex;
    width: 120%;
}
.summary{
    width: 90%;
}
.leetcard{
    width: 80%;
}
p{
    color: white;
}
h1{
    color: white;
}
h3{
    color: white;
}