.top{
    margin: auto;
    width: 50%;
    padding: 10px;}

.container{
    display: flex;
}

/* .top{
    display: flex;
} */


.skills {
    display: flex;
}

.skill-image {
    flex: 16.66%;
    padding: 5px;
    width: 60px;
    height: 60px;
    margin: auto;
}

.languages {
    margin: auto;
}

.technologies{
    margin: auto;
}

.github-card{
    display: flex;
}